
/*****見出しの下ボーダー設定*****/
/*下ボーダー二重線*/
h1 {
	padding-bottom: .5em;
	border-bottom: 3px double #ccc;
	font-size: 23px; 
}
/*下ボーダー一重線*/
h2 {
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	font-size: 22px; 

}
/*****見出しの下ボーダー設定*****/


/***** 赤枠用 *****/
div.Scuere {
	/* 左位置から200ﾋﾟｸｾﾙ 上位置から1200ﾋﾟｸｾﾙ*/
	position:relative;
	left: 200px;
	top:1200px;
	/* ここまで */
	width: 100px;
    height: 10px;
    border-top: 2px solid #F00;
    border-right: 2px solid #F00;
    border-bottom: 2px solid #F00;
    border-left: 2px solid #F00;
	}
/***** 赤枠用 *****/


/***** ボックスを使用したパターン用 *****/
#site-box {
	width : 13px ;
	overflow:auto;
	/*height : 600px;*/
	/*border: 1px solid #FF9900;*/
}


#Main-box {
	position :fixed;
	top: 0px;
	left: 20px;
	width : 1200px ;
    height:91%;
	/*clear : both;*/
	/*height : 40px;*/
	overflow:auto ;
}




